[submodule "thirdparty/breakpad/breakpad"]
	path = thirdparty/breakpad/breakpad
	url = https://github.com/jahshaka/breakpad.git
[submodule "thirdparty/miner"]
	path = thirdparty/miner
	url = https://github.com/jahshaka/Miner
[submodule "src/shadergraph"]
	path = src/shadergraph
	url = https://github.com/jahshaka/Effects.git
[submodule "irisgl"]
	path = irisgl
	url = https://github.com/jahshaka/IrisGL.git
