[submodule "irisgl/src/assimp"]
	path = irisgl/src/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/breakpad/breakpad"]
	path = thirdparty/breakpad/breakpad
	url = https://github.com/jahshaka/breakpad.git
[submodule "irisgl/src/bullet3"]
	path = irisgl/src/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "thirdparty/miner"]
	path = thirdparty/miner
	url = https://github.com/jahshaka/Miner
